
  <h1>Create a new heroine:</h1>

  <% if flash[:errors] %>
  <ul>
    <% flash[:errors].each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %> 


    <%= form_for(@heroine) do |f| %>
    <p>
      <%= f.label "Name" %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label "Super Name" %>
      <%= f.text_field :super_name %>
    </p>
  <%= f.collection_select :power_id, @powers, :id, :name %>
  <%= f.submit %>

<% end %>
